body {
  background-color: #6096b4;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: rgb(168, 168, 168);
  border-width: 6.5px;
  height: 4px;
  width: 12%;
}
/* 
img {
  border-radius: 20%;
  width: auto;
} */
h1,
h2,
h3 {
  color: #27496d;
}
/* IDs ARE PRIORITIZED OVER CLASSES/TAGS, Inline>Internal>External, Good practice to put all css sylings into one external folder/file
IDs are unique, Classes can be generalized 
Elements can contain multiple classes, but only one ID


*/
/* CLASS SELECTORS */
.Andres-Profile-Pic:hover {
  border-radius: 20%;
}
#name {
  color: #142850;
}
